body{
    background-color: aqua;
}

#showCreditCardData{
    margin-top: 100px;
}

.invalidData{
    background: red;
}

.validData{
    background: green;
}


.notVerifyData{
    background: white;
}